body {
  background-color: black;
  color:black;
  font-family: 'Arial Narrow Bold', sans-serif;
}

h1 {
  padding: 50px;
  color:rgb(0, 0, 0);
  text-align: center;
}
.jumbotron {
  background-color: rgb(255, 179, 71)
}

.container {
  padding:30px;
}
.showErrors {
  color:rgb(147, 136, 21);
  font-family: 'Courier New', Courier, monospace;
}
.showResult {
  color:rgb(47, 252, 255);
}

#toggleInput {
  display:none;
}

#button {
  float:right;
} 
label {
  margin-top:20px;
}
.btn-success {
  margin-left:20px;
}

#currency {
  background-color: rgb(255, 179, 71);
  color:rgb(195, 40, 151)
}

#currency option {
  background-color:rgb(142, 63, 3);
  color:lightgrey;
}